/* Canvas container styles */

.canvas-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.canvas-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
